# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore dirs
!*/

## Above combination ignore all files without extension

# ignore output
*.op
*.dat
*.txt
*.log
*.png
*.eps
*.pdf
*.xml
*.tout
*.dout

# ignore binaray
*.bin

*/Out*
