# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore dirs
!*/

## Above combination ignore all files without extension

# ignore output
*.op
*.dat
*.txt
*.log
*.png
*.eps
*.pdf
*.xml
*.tout
*.dout
*.sample
*.err
*.out
*.inp
*.EMST
*.MC
*.IEM
*.pyc
*.csv
*.cema

*.swp
CA.inCompress

# ignore binaray
*.bin

*/Out*
*/test*
*/MIX-*
*/__pycache__
*/IEM
*/MC
*/EMST
*/IEMHYB
*/MCHYB
*/EMSTHYB
*/beta_*
.ipynb_checkpoints
DNS/
