# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore dirs
!*/

## Above combination ignore all files without extension

# ignore output
*.op
*.dat
*.txt
*.log
*.png
*.eps
*.pdf
*.xml
*.tout
*.dout
*.sample
*.err
*.out
*.inp
*.EMST
*.MC
*.IEM
*.pyc
*.csv

*.swp
CA.inCompress

# ignore binaray
*.bin

*/Out*
*/test*
*/MIX-*
*/__pycache__
PaSR_CH4/IEM
PaSR_CH4/MC
PaSR_CH4/EMST
PaSR_CH4/IEMHYB
PaSR_CH4/MCHYB
PaSR_CH4/EMSTHYB
PaSR_CH4/beta_Zst_1
